*, *:before, *:after { box-sizing: border-box; }
html {
  font-family: 'Open Sans', sans-serif; font-size: 
100%; } #page-wrapper { width: 640px; background: #ffffff; 
padding: 16px; margin: 32px auto; border-top: 5px solid #9d9d9d;
box-shadow: 0 2px 10px rgba(0,0,0,0.8); } 
h2 { 
  margin-top: 0; }



body {  
  color: #333333;
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }

.busca,
.menu-departamentos {
  background-color: #DCDCDC;
 font-weight: bold;
 text-transform: uppercase;
 margin-right: 10px;
 width: 230px;
 }  
 
 .busca h2, 
 .busca form,  
 .menu-departamentos h2 {
   margin: 10px;
 } 
 
 .menu-departamentos li { 
   background-color: white;
 margin-bottom: 1px;
 padding: 5px 10px;
 }  
 
 .menu-departamentos a { 
   color: #333333;
 text-decoration: none;
 }
 
 .destaque {  
   margin-top: 10px;
 } 
 
 .menu-departamentos { 
   margin-top: 10px;
 padding-bottom: 10px;
 }
 
 .painel li {  
   display: inline-block;
 vertical-align: top;
 width: 140px;
 margin: 2px;
 padding-bottom: 10px;
}

.sacola { 
  background: url(../img/sacola.png) no-repeat top right;
font-size: 14px;
padding-right: 35px;
text-align: right;
width: 140px;
}

.menu-opcoes ul 
{ font-size: 15px;
}