body {  
  padding-top: center;
 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }
 
 
 header {
   text-align: justify;
   display: inline;
   
 }
 
.menu-departamentos {
   margin: 0,5px;
   padding: 5px 15px;
   border-radius: 3px 3px 0 0;
   background-color: white;
   text-decoration: none;
   color: white;
 }
 
section {
  justify-content: space-between;
   display: flex;
 }
 
 